/*estilização do "corpo" da página*/
html{
    color: aliceblue;
    background-image: url(../img/clean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
    
a{

    text-decoration: none;
    color: white;



}